.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.title section {
  display: inline-block;
  background-color: #5a1266; /* màu tím đậm */
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: bold;
  position: relative;
  font-size: 32px;
}

.title section::before,
.title section::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30px;
  height: 2px;
  background-color: white;
}

.title section::before {
  left: -35px;
  transform: translateY(-50%);
}

.title section::after {
  right: -35px;
  transform: translateY(-50%);
}
